main {
  padding: 20px;
}

.textContainer,
h1 {
  margin: 0 40px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  h2 {
    align-self: start;
  }
}

@media only screen and (min-width: 100px) {
  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
