.homePage {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  ul li::before {
    content: "🌟 ";
    margin-right: 5px;
  }

  p:last-of-type {
    font-weight: bold;
    color: #00796b;
  }
}

.imageLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  margin: 50px 0;
  font-family: var(--special-font);

  a {
    font-size: 2.5rem;
  }
}

.things-to-do,
.places-to-stay,
.food-and-drink,
.travel-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: #e0f7fa;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.things-to-do {
  background-image: url("https://images.pexels.com/photos/9223077/pexels-photo-9223077.jpeg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.places-to-stay {
  background-image: url("https://images.pexels.com/photos/15923469/pexels-photo-15923469/free-photo-of-a-tropical-resort-on-maldives.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.food-and-drink {
  background-image: url("https://images.pexels.com/photos/7148683/pexels-photo-7148683.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.travel-tips {
  background-image: url("https://images.pexels.com/photos/7365315/pexels-photo-7365315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

@media only screen and (min-width: 1000px) {
  .homePage {
    padding: 10px;
  }

  .imageLinks {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;

    a {
      font-size: 3rem;
    }
  }

  .things-to-do,
  .places-to-stay,
  .food-and-drink,
  .travel-tips {
    height: 20rem;
  }
}
