.mainHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.islandTitle {
  font-size: 2.5em;
  line-height: 1.1;
  justify-self: center;
  margin-left: 30px;
}

video {
  width: 100%;
  height: 20%;
}

.breadcrumbsWrapper {
  margin: 20px;
  font-size: 20px;
  a {
    color: #000;
    text-decoration: none;
  }

  a + a {
    margin-left: 10px;
  }
  a + a::before {
    content: ">";
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .islandTitle {
    font-size: 3.2em;
    justify-self: start;
  }
}
