.mobileNav {
  align-self: center;
  margin-right: 10px;

  .closed {
    display: none;
  }
  .open {
    position: absolute;
    list-style: none;
    background-color: #fff;
    padding: 1rem;
    right: 0;
    left: 0;
    height: 190px;
    width: 100%;
    font-size: 20px;
    margin: 0;
    z-index: 1;

    li {
      margin: 0.5rem 0;
    }

    li a {
      text-decoration: none;
      color: black;
    }
  }
}

.desktopNav {
  align-self: flex-end;
  font-size: 20px;

  .navList {
    display: flex;
    list-style: none;
    margin-right: 30px;

    li a {
      text-decoration: none;
      color: black;
    }

    li + li {
      margin-left: 1rem;
      content: attr(data-separator);
    }
  }
}
